.app_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 16px;
}

.habit_list {
  background-color: var(--background-color);
  border: 1px solid black;
  border-radius: 10px;
  max-width: 300px;
  margin: 0 auto;
  min-height: 50vh;
  padding: 16px;
}

@media (prefers-color-scheme: light) {
  .habit_list {
    border: 1px var(--habit-color) solid;
  }
}
