.app {
}

.app_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 16px;
}

.controls_bar {
  text-align: end;
}

.habit_list {
  background: #242424;
  border: 1px solid black;
  border-radius: 10px;
  max-width: 300px;
  margin: 0 auto;
  min-height: 50vh;
  padding: 16px;
}

@media (prefers-color-scheme: light) {
  .habit_list {
    background-color: white;
    border: 1px #f1a94a solid;
  }
}
