.app {
}

.app_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 16px;
}

.habit_list {
  background: antiquewhite;
  border: 1px solid black;
  border-radius: 2px;
  max-width: 300px;
  margin: 0 auto;
  min-height: 50vh;
  padding: 16px;
}

.new_habit_form {
  margin-bottom: 24px;
}

.new_habit_name_label {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.new_habit_name_label_input {
  flex: 1 1;
  font-size: 18px;
}

.habits {
  list-style: none;
  margin: 0;
  padding: 0;
}

.habit_item {
  font-size: 18px;
  margin-bottom: 12px;
}
