.snail__jump {
  display: inline-block;
  animation: jump 1s;
}

@keyframes jump {
  0% {
    transform: translate(0, 0) scale(1, 1);
  }
  30% {
    transform: translate(0, 9px) scale(1.2, 0.8);
  }
  40% {
    transform: translate(0, -20px) scale(0.95, 1.05);
  }
  50% {
    transform: translate(0, -25px) scale(0.95, 1.05);
  }
  55% {
    transform: translate(0, 0) scale(0.95, 1.05);
  }
  60% {
    transform: translate(0, 9px) scale(1.2, 0.8);
  }
  90% {
    transform: translate(0, 0) scale(1, 1);
  }
}
