.new_habit_form {
  margin-bottom: 24px;
}

.new_habit_name_label {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.new_habit_name_label_input_container {
  flex: 1 1;
}

.new_habit_name_label_input {
  font-size: inherit;
  width: 100%;
  box-sizing: border-box;
}

.habit_item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5em;
  margin-bottom: 12px;
}

.habit_item input[type='checkbox'] {
  appearance: none;
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  margin: 0;
  border-radius: 50%;
  border: 1px #BDBDBD solid;
  cursor: pointer;
  position: relative;
}

.habit_item input[type='checkbox']:checked {
  border-style: none;
  background-color: var(--habit-color);
}

/*
  This is a bit tricky way to build.
  The better way to build such controls is svg.
 */

.habit_item input[type='checkbox']:checked:after {
  border-bottom: 2px solid var(--background-color);
  border-right: 2px solid var(--background-color);
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  height: 10px;
  width: 4px;
  transform: translate(-50%, -50%) rotate(45deg);
}
